<button onClick="changeType('Image');">Image Upload</button>
<button onClick="changeType('Document');">Document Upload</button>
<button onClick="changeType('Code');">Code Upload</button>
<button onClick="changeType('Video');">Video Upload</button>
<button onClick="changeType('Audio');">Audio Upload</button>

<%= form_for @content_discussion_form do |form| %>
  <div>
    <%= form.hidden_field :type, value: "Image" %>
  </div>
  <div>
    <%= form.text_field :name, placeholder: "Discussion Name" %>
  </div>
  <div id="content-form-subject">
    <%= form.file_field :subject %>
  </div>
  <%= form.submit "Submit" %>
<% end %>
