<div id="new-discussion-form">
  <p>Please select a discussion type:</p>

  <% @types.each do |type| %>
    <% if type == @discussion_form.type %>
      <button class="change-type", style="color: black;" data-type="<%= type %>">
        <%= type %>
      </button>
    <% else %>
      <button class="change-type" data-type="<%= type %>">
        <%= type %>
      </button>
    <% end %>
  <% end %>

  <%= render "error_messages", target: @discussion_form %>

  <%= form_for @discussion_form, url: discussions_path do |form| %>
    <div>
      <%= form.hidden_field :type, value: @discussion_form.type || "Image" %>
    </div>
    <div>
      <%= form.text_field :name, placeholder: "Discussion Name" %>
    </div>
    <div id="content-form-subject">
      <% if @discussion_form.type == "Video" || @discussion_form.type == "Code" %>
        <%= form.text_field :subject, id: "text-upload-button" %>
      <% else %>
        <%= form.file_field :subject, id: "file-upload-button" %>
      <% end %>
    </div>
    <%= form.submit "Submit", id: "submit-button" %>
  <% end %>
</div>
