<%= form_for @content_discussion_form, html: { multipart: true } do |form| %>
  <div>
    <%= form.hidden_field :type, value: "Image" %>
  </div>
  <div>
    <%= form.text_field :name, placeholder: "Discussion Name" %>
  </div>
  <div>
    <%= form.file_field :subject %>
  </div>
  <%= form.submit "Submit" %>
<% end %>

<%= form_for @content_discussion_form, html: { multipart: true } do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "PDF Name" %>
  </div>
  <div>
    <%= form.file_field :pdf %>
  </div>
  <%= form.submit "Submit" %>
<% end %>

<%= form_for @content_discussion_form, html: { multipart: true } do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Audio Name" %>
  </div>
  <div>
    <%= form.file_field :audio %>
  </div>
  <%= form.submit "Submit" %>
<% end %>

<%= form_for @content_discussion_form, html: { multipart: true } do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Video Name" %>
  </div>
  <div>
    <%= form.file_field :video %>
  </div>
  <%= form.submit "Submit" %>
<% end %>
