<button class="change-type" data-type="Image">Image Upload</button>
<button class="change-type" data-type="Document">Document Upload</button>
<button class="change-type" data-type="Code">Code Upload</button>
<button class="change-type" data-type="Video">Video Upload</button>
<button class="change-type" data-type="Audio">Audio Upload</button>

<%= render "error_messages", target: @content %>

<%= form_for @discussion_form, url: discussions_path do |form| %>
  <div>
    <%= form.hidden_field :type, value: @discussion_form.type || "Image" %>
  </div>
  <div>
    <%= form.text_field :name, placeholder: "Discussion Name" %>
  </div>
  <div id="content-form-subject">
    <% if @discussion_form.type == "Code" || @discussion_form.type == "Video" %>
      <%= form.text_field :subject %>
    <% else %>
      <%= form.file_field :subject %>
    <% end %>
  </div>
  <%= form.submit "Submit" %>
<% end %>
