<script type="text/javascript">
  var pusher = new Pusher('<%= ENV.fetch('PUSHER_KEY') %>');
  var channel = pusher.subscribe('comments_updater');
  channel.bind('discussion_<%= @discussion.token %>', function(comment) {
    template = comment.username;
    template += " said: ";
    template += comment.body;
    template += " ";
    template += moment(comment.created_at).fromNow();
    template += "\<br\>"
    $("#comments").prepend(template);
  });
</script>

<%= @discussion.name %>
<div id="comment-form">
  <% if current_user.username %>
    <%= form_for [@discussion, @comment], remote: true do |form| %>
      <%= form.text_field :body, placeholder: "Enter your comment here" %>
      <%= form.hidden_field :username, value: current_user.username %>
      <%= form.submit "Comment" %>
    <% end %>
  <% end %>
  You are commenting as:
  <% if signed_in? %>
    <%= current_user.username %>
  <% else %>
    <%= form_for :guest, url: discussion_username_path(@discussion) do |form| %>
      <%= form.text_field :username, value: current_user.username %>
      <%= form.submit "Change" %>
    <% end %>
  <% end %>
</div>
<div id="comments">
  <%= render @comments %>
</div>

<%= image_tag @discussion.photo.url(:medium) %>
