<%= @discussion.name %>
<div id="comment-form">
  <% if current_user.username %>
    <%= form_for [@discussion, @comment] do |form| %>
      <%= form.text_field :body, placeholder: "Enter your comment here" %>
      <%= form.hidden_field :username, value: current_user.username %>
      <%= form.submit "Comment" %>
    <% end %>
  <% end %>
  You are commenting as:
  <% if signed_in? %>
    <%= current_user.username %>
  <% else %>
    <%= form_for :guest, url: discussion_username_path(@discussion) do |form| %>
      <%= form.text_field :username, value: current_user.username %>
      <%= form.submit "Change" %>
    <% end %>
  <% end %>
</div>
<div id="comments">
  <%= render @comments %>
</div>

<%= image_tag @discussion.photo.url(:medium) %>
