<script type="text/javascript">
  var pusher = new Pusher('<%= ENV.fetch('PUSHER_KEY') %>');
  var channel = pusher.subscribe('comments_updater');
  channel.bind('discussion_<%= @discussion.token %>', function(comment) {
    template = comment.username;
    template += " said: ";
    template += comment.body;
    template += " ";
    template += moment(comment.created_at).fromNow();
    template += "\<br\>"
    $("#comments").append(template);
  });
</script>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>

<%= @discussion.name %>
<div id="comments">
  <%= render @comments %>
</div>
You are commenting as:
<% if signed_in? %>
  <%= current_user.username %>
<% else %>
  <span id="comment-username"><%= current_user.username %></span>
  <% if current_user.username.nil? %>
    <div id="comment-username-form">
      <%= form_for :guest,
        url: discussion_username_path(@discussion),
        remote: true do |form| %>
          <%= form.text_field :username, value: current_user.username %>
          <%= form.submit "Change" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div id="comment-form">
  <% if current_user.username %>
    <%= form_for [@discussion, @comment], remote: true do |form| %>
      <%= form.text_field :body, placeholder: "Enter your comment here" %>
      <%= form.hidden_field :username, value: current_user.username %>
      <%= form.submit "Comment" %>
    <% end %>
  <% end %>
</div>

<div id="content">
  <%= render @discussion.content %> 
</div>
