<script type="text/javascript">
  $(document).ready(function() {
    $('#comments').scrollTop($('#comments')[0].scrollHeight);
  });
  var pusher = new Pusher('<%= ENV.fetch('PUSHER_KEY') %>');
  var channel = pusher.subscribe('comments_updater');
  channel.bind('discussion_<%= @discussion.token %>', function(comment) {
    template = "\<span class='comment-author'\>"
    template += comment.username;
    template += " said: ";
    template += "\<\/span\>"
    var MAP = { '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;'
              };
    var newComment = comment.body.replace(/[&<>'"]/g, function(character) {
      return MAP[character];
    });
    template += newComment;
    template += " ";
    template += moment(comment.created_at).fromNow();
    template += "\<br\>"
    $("#comments").append(template);
    $('#comments').scrollTop($('#comments')[0].scrollHeight);
  });
</script>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>

<div id="discussion-name">
  <h2><%= @discussion.name %></h2>
</div>

<div id="content-wrapper">
  <%= render @discussion.content %>
</div>

<div id="comments-wrapper">
  <div id="comments">
    <%= render @comments %>
  </div>
  <% if @discussion.open? %>
    <%= render 'comment_form' %>
  <% end %>
</div>
