<a href="https://twitter.com/share" class="twitter-share-button" data-text="Give me your two cents on this:" data-size="large" data-hashtags="2cents">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript">
  var pusher = new Pusher('<%= ENV.fetch('PUSHER_KEY') %>');
  var channel = pusher.subscribe('comments_updater');
  channel.bind('discussion_<%= @discussion.token %>', function(comment) {
    template = comment.username;
    template += " said: ";
    template += comment.body;
    template += " ";
    template += moment(comment.created_at).fromNow();
    template += "\<br\>"
    $("#comments").append(template);
  });
</script>

<%= @discussion.name %>
<div id="comments">
  <%= render @comments %>
</div>
<% if @discussion.open? %>
  <%= render 'comment_form' %>
<% end %>
<div id="content">
  <%= render @discussion.content %>
</div>
